<h1>All Users</h1>

<% @users.each do |user| %>
  <%= link_to user.name, user_profile_path(user) %>
  <%= user.points %>
  <%= user.redeemed_points %>
  <%= link_to "Edit User/Add Points", edit_users_path(user) %>
<% end %>
