/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  background-color: #fef5ef;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-family: 'Chango', cursive;
}

.form {
  text-align: center;
  background-color: #584b53;
  color: #e4bb97;
  padding: 40px;
  margin: auto;
  width: 300px;
  font-size: 16px;
}

input {
  background-color: #e4bb97;
  color: #584B53;
  font-size: 16px;
}

.navbarr {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.navbarr a:link {
    color: #9D5C63;
}

.navbarr a:visited {
    color: #584B53;
}

.navbarr a:hover {
    color: #9D5C63;
    background-color: #E4BB97;
}

.navbarr a:active {
  background-color: #9D5C63;
  color: #E4BB97;
}

.reward-card {
  list-style: none;
  border: 5px solid #9D5C63;
  border-radius: 30%;
  background-color: #D6E3F8;
  padding: 20px;
  width: 150px;
  height: 100px;
  text-align: left;
}

.reward-holder {
  display: flex;
  justify-content: space-between;
}

.user-holder {
  display: flex;
  justify-content: space-between;
}

.user-card {
  list-style: none;
  border: 5px solid #9D5C63;
  border-radius: 30%;
  background-color: #D6E3F8;
  padding: 20px;
  width: 150px;
  height: 200px;
  text-align: left;
}

.form-new {
  text-align: right;
  background-color: #584b53;
  color: #e4bb97;
  padding: 40px 40px 40px 0px;
  margin: auto;
  width: 400px;
  font-size: 16px;
}

.user-show {
  
}
